html {
    scroll-behavior: smooth;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    flex-flow: column nowrap;
}

.cabecera {
    background: #95389e;
    color: #fff;
    display: flex;
}

.nombre {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.email {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.fondomenu {
    background: #f35588;
    flex-flow: row nowrap;
    display: flex;
}

.menu {
    color: #fff;
    letter-spacing: 1px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
}

.fondomenu a:hover {
    color: #95389e;
    text-decoration: none;
}

.social {
    flex: 1 1 auto;
    display: flex;
    background: #f35588;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.social a {
    font-size: 18px;
    color: #fff;
    padding: 0 15px;
}

.social a:hover {
    color: #95389e;
}

div.transparencia {
    margin: 30px;
    background-color: #ffffff;
    border: none;
    opacity: 0.6;
}

div.transparencia p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #ffff;
}

.fondo {
    background-image: url(imagenesMYA/seccion1.png);
    width: 100%;
    /* padding: 300px 0px 450px 0px; */
    /* display: flex;
    flex-flow: column nowrap; */
}

.seccion2 {
    background: #f35588;
    color: #fff;
    padding: 100px 80px 100px 80px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.seccion3 {
    background: #00bcd4;
    color: #fff;
    padding: 60px 200px 60px 200px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background: #95389e;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.seccion4 {
    background: #95389e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    padding: 40px 0px 40px 0px;
}

.seccion5 {
    background: #00bcd4;
    color: #fff;
    padding: 60px 80px 60px 80px;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.seccion6 {
    background: #f35588;
    color: #fff;
    padding: 60px 40px 60px 40px;
    display: flex;
    flex-flow: column nowrap;
}

.equipo {
    background: #95389e;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
}